	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color: hsla(145, 35%, 89%,0.9);
  padding:5%;
}


/** 02 Typography -- Font  **/
body{
  font-family: "tablet-gothic-condensed",verdana, arial, sans-serif; 
}


/** 03 Position, Size, layout **/
div,
article,
section,
header,
footer,
nav,
figure,
li{
  position: relative;
}




/** 04 other decoration **/

/* nav bar on top */
#zen-resources {

}

/* hide the h3 inside of zen resources */



/* hover over active practice */




/*
tr:nth-child(2n) ---- even rows
*/

/*textshadow boxshadow border radius transform*/





/* animation */






/**	05	Media queries **/
