	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color: hsla(145, 35%, 89%,0.9);
  padding:5%;
}

body{
  background-color: hsla(190, 51%, 65%, 0.5);
  color: hsla(180, 100%, 100%, 0.9)
}

header h1{
  background-color: hsla(0,100%,63%,0.9);
}

div.preamble, div.requirements, div.benefits{
  color: hsla(180,0%,25%,0.9);
  background-color: hsla(0,100%,100%,0.9);
}

footer{

}

div.participation{

}

aside.sidebar{
  background-color:hsla(61,86%,77%,0.9);
}

/** 02 Typography -- Font  **/


body{
  font-family: verdana,aria,sans-serif;
}
p{
  font-size: 1.25em;
}

h3{
  font-size:2.25em; font-weight: 200;letter-spacing: 1px;
  line-height: 1em; padding:0.5em 0 0.25em 0;
}

div.summary{
  font-family: 'Ranchers', cursive;
  text-transform: uppercase;
}


/** 03 Position, Size, layout **/


/** 04  Other decoration -- background Links **/ 



/**	05	Media  **/
header>h1{
  background-image: url(../img/zengarden.gif);
}